/* Alata 400 --> font-family: 'Alata', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

/* Josefin Sans 300 --> font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*{
    margin: 0;
}

:root{
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-grey: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
    font-family: 'Alata', sans-serif;
    overflow-x: hidden;
    font-size: 15px;
}

.header{
    width: 100vw;
    height: 900px;
    background-image: url('../images/desktop/image-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .navContainer{
    width: 80%;
    margin: auto;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navContainer nav ul{
    display: flex;
    list-style-type: none;
    gap: 65px;
}

.header .navContainer nav ul a{
    text-decoration: none;
    color: var(--white);
}

.header .titleContainer{
    width: 80%;
    height: 300px;
    margin: auto;
    margin-top: 100px;
}

.header .titleContainer h1{
    width: 825px;
    font-size: 6.5rem;
    color: var(--white);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    padding: 3rem;
    border: 2px solid var(--white);
}

.about{
    width: 80%;
    min-height: 500px;
    margin: auto;
    margin-top: 200px;
    position: relative;
}

.about img{
    width: 1000px;
}

.about div{
    width: 500px;
    min-height: 100px;
    position: absolute;
    bottom: 0;
    right: 50px;
    background-color: var(--white);
    display: flex;
    justify-content: flex-end;
    align-items: start;
    flex-direction: column;
    padding-top: 125px;
    padding-left: 125px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.about div h2{
    font-size: 4rem;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 50px;
}

.about div p{
    width: 90%;
    color: var(--dark-grey); 
}

.gallery{
    width: 80%;
    margin: auto;
    margin-top: 200px;
}

.gallery .galleryTitle{
    display: flex;
    justify-content: space-between;
}

.gallery .galleryTitle h2{
    font-size: 4rem;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
}

.gallery .galleryTitle span{
    width: 170px;
    height: 45px;
    border: 2px solid var(--black);
    background-color: var(--white);
    font-weight: 400;
    font-family: 'Alata', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 3px;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery .imagesContainer{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.70rem;
}

.gallery .imagesContainer .deepEarth{
    width: 350px;
    height: 550px;
    background-image: url("../images/desktop/image-deep-earth.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.gallery .imagesContainer .deepEarth p{
    width: 25%;
    color: var(--white);
    margin: 0px 0px 50px 50px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
}

.gallery .imagesContainer .nightArcade{
    width: 350px;
    height: 550px;
    background-image: url("../images/desktop/image-night-arcade.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.gallery .imagesContainer .nightArcade p{
    width: 25%;
    color: var(--white);
    margin: 0px 0px 50px 50px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
}

.gallery .imagesContainer .soccerTeam{
    width: 350px;
    height: 550px;
    background-image: url("../images/desktop/image-soccer-team.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.gallery .imagesContainer .soccerTeam p{
    width: 75%;
    color: var(--white);
    margin: 0px 0px 50px 50px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
}

.gallery .imagesContainer .theGrid{
    width: 350px;
    height: 550px;
    background-image: url("../images/desktop/image-grid.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.gallery .imagesContainer .theGrid p{
    width: 25%;
    color: var(--white);
    margin: 0px 0px 50px 50px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
}

.gallery .imagesContainer .fromUpAbove{
    width: 350px;
    height: 550px;
    background-image: url("../images/desktop/image-from-above.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.gallery .imagesContainer .fromUpAbove p{
    width: 75%;
    color: var(--white);
    margin: 0px 0px 50px 50px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
}

.gallery .imagesContainer .pocketBoarelis{
    width: 350px;
    height: 550px;
    background-image: url("../images//desktop/image-pocket-borealis.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.gallery .imagesContainer .pocketBoarelis p{
    width: 25%;
    color: var(--white);
    margin: 0px 0px 50px 50px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
}

.gallery .imagesContainer .theCuriosity{
    width: 350px;
    height: 550px;
    background-image: url("../images/desktop/image-curiosity.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.gallery .imagesContainer .theCuriosity p{
    width: 25%;
    color: var(--white);
    margin: 0px 0px 50px 50px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
}

.gallery .imagesContainer .makeItFisheye{
    width: 350px;
    height: 550px;
    background-image: url("../images/desktop/image-fisheye.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.gallery .imagesContainer .makeItFisheye p{
    width: 75%;
    color: var(--white);
    margin: 0px 0px 50px 50px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
}

