/* Alata 400 --> font-family: 'Alata', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

/* Josefin Sans 300 --> font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*{
    margin: 0;
}

:root{
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-grey: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
    font-family: 'Alata', sans-serif;
    overflow-x: hidden;
    font-size: 15px;
}

/* Drop-down menu */

.menu{
    width: 100vw;
    height: 750px;
    background-color: var(--black);
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 50px 25px 50px 25px;
}

.menu div{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu div .cancelButton{
    width: 40px;
}

.menu div .cancelButton:hover{
    cursor: pointer;
}

.menu nav{
    align-self: flex-start;
    margin-top: 250px;
    margin-left: -40px;
}

.menu nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.menu nav ul a{
    text-decoration: none;
    color: var(--white);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 2.75rem;
}

/* Drop-down menu */

.header{
    width: 100vw;
    height: 750px;
    background-image: url('../images/desktop/image-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .navContainer{
    width: 1300px;
    margin: auto;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navContainer .burgerButton{
    display: none;
}

.header .navContainer nav ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
}

.header .navContainer nav ul a{
    text-decoration: none;
    color: var(--white);
    padding-bottom: 10px;
    transition: all 250ms;
}

.header .navContainer nav ul a:hover{
    border-bottom: 1px solid var(--white);
    transition: all 250ms;
}

.header .titleContainer{
    width: 1300px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
}

.header .titleContainer h1{
    width: 825px;
    font-size: 6.5rem;
    color: var(--white);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    padding: 3rem;
    border: 2px solid var(--white);
}

.about{
    width: 1300px;
    min-height: 500px;
    margin: auto;
    margin-top: 200px;
    position: relative;
}

.about img{
    width: 1000px;
}

.about div{
    width: 500px;
    min-height: 100px;
    position: absolute;
    bottom: 0;
    right: 50px;
    background-color: var(--white);
    display: flex;
    justify-content: flex-end;
    align-items: start;
    flex-direction: column;
    padding-top: 125px;
    padding-left: 125px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.about div h2{
    font-size: 4rem;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 50px;
}

.about div p{
    width: 90%;
    color: var(--dark-grey); 
}

.gallery{
    width: 1300px;
    margin: auto;
    margin-top: 200px;
}

.gallery .galleryTitle{
    display: flex;
    justify-content: space-between;
}

.gallery .galleryTitle h2{
    font-size: 4rem;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
}

.gallery .galleryTitle span{
    width: 170px;
    height: 45px;
    border: 2px solid var(--black);
    background-color: var(--white);
    font-weight: 400;
    font-family: 'Alata', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 3px;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms;
}

.gallery .galleryTitle span:hover{
    background-color: var(--black);
    color: var(--white);
    transition: all 250ms;
    cursor: pointer;
}

.gallery .imagesContainer{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.gallery .imagesContainer .deepEarth{
    width: 300px;
    height: 500px;
    background-image: url("../images/desktop/image-deep-earth.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    transition: all 250ms;
}

.gallery .imagesContainer .deepEarth:hover{
    filter: opacity(75%);
    transition: all 250ms;
    cursor: pointer;
}

.gallery .imagesContainer .deepEarth p{
    width: 25%;
    color: var(--white);
    margin: 0px 0px 50px 50px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
}

.gallery .imagesContainer .nightArcade{
    width: 300px;
    height: 500px;
    background-image: url("../images/desktop/image-night-arcade.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    transition: all 250ms;
}

.gallery .imagesContainer .nightArcade:hover{
    filter: opacity(75%);
    transition: all 250ms;
    cursor: pointer;
}

.gallery .imagesContainer .nightArcade p{
    width: 25%;
    color: var(--white);
    margin: 0px 0px 50px 50px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
}

.gallery .imagesContainer .soccerTeam{
    width: 300px;
    height: 500px;
    background-image: url("../images/desktop/image-soccer-team.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    transition: all 250ms;
}

.gallery .imagesContainer .soccerTeam:hover{
    filter: opacity(75%);
    transition: all 250ms;
    cursor: pointer;
}

.gallery .imagesContainer .soccerTeam p{
    width: 75%;
    color: var(--white);
    margin: 0px 0px 50px 50px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
}

.gallery .imagesContainer .theGrid{
    width: 300px;
    height: 500px;
    background-image: url("../images/desktop/image-grid.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    transition: all 250ms;
}

.gallery .imagesContainer .theGrid:hover{
    filter: opacity(75%);
    transition: all 250ms;
    cursor: pointer;
}

.gallery .imagesContainer .theGrid p{
    width: 25%;
    color: var(--white);
    margin: 0px 0px 50px 50px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
}

.gallery .imagesContainer .fromUpAbove{
    width: 300px;
    height: 500px;
    background-image: url("../images/desktop/image-from-above.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    transition: all 250ms;
}

.gallery .imagesContainer .fromUpAbove:hover{
    filter: opacity(75%);
    transition: all 250ms;
    cursor: pointer;
}

.gallery .imagesContainer .fromUpAbove p{
    width: 75%;
    color: var(--white);
    margin: 0px 0px 50px 50px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
}

.gallery .imagesContainer .pocketBoarelis{
    width: 300px;
    height: 500px;
    background-image: url("../images//desktop/image-pocket-borealis.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    transition: all 250ms;
}

.gallery .imagesContainer .pocketBoarelis:hover{
    filter: opacity(75%);
    transition: all 250ms;
    cursor: pointer;
}

.gallery .imagesContainer .pocketBoarelis p{
    width: 25%;
    color: var(--white);
    margin: 0px 0px 50px 50px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
}

.gallery .imagesContainer .theCuriosity{
    width: 300px;
    height: 500px;
    background-image: url("../images/desktop/image-curiosity.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    transition: all 250ms;
}

.gallery .imagesContainer .theCuriosity:hover{
    filter: opacity(75%);
    transition: all 250ms;
    cursor: pointer;
}

.gallery .imagesContainer .theCuriosity p{
    width: 25%;
    color: var(--white);
    margin: 0px 0px 50px 50px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
}

.gallery .imagesContainer .makeItFisheye{
    width: 300px;
    height: 500px;
    background-image: url("../images/desktop/image-fisheye.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    transition: all 250ms;
}

.gallery .imagesContainer .makeItFisheye:hover{
    filter: opacity(75%);
    transition: all 250ms;
    cursor: pointer;
}

.gallery .imagesContainer .makeItFisheye p{
    width: 75%;
    color: var(--white);
    margin: 0px 0px 50px 50px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
}

.footer{
    width: 100vw;
    height: 200px;
    margin-top: 200px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .socialMedia{
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer .socialMedia div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer .footerNav{
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.footer .footerNav nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    margin-left: -40px;
}

.footer .footerNav nav ul li{
    list-style-type: none;
}

.footer .footerNav nav ul li a{
    color: var(--white);
    text-decoration: none;
    padding-bottom: 10px;
    transition: all 250ms;
}

.footer .footerNav nav ul li a:hover{
    border-bottom: 1px solid var(--white);
    transition: all 250ms;
}

.footer .footerNav p{
    color: var(--dark-grey);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1440px) {

    .header .navContainer{
        width: 1000px;
    }

    .header .titleContainer{
        width: 1000px;
    }

    .about{
        width: 1000px;
    }

    .about img{
        width: 700px;
    }
    
    .about div{
        bottom: 20px;
        right: 0px;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 0px;
    }

    .gallery{
        width: 1000px;
    }

    .gallery .imagesContainer{
        gap: 32px;
    }

    .gallery .imagesContainer .deepEarth{
        width: 225px;
        height: 400px; 
    }

    .gallery .imagesContainer .deepEarth p{
        font-size: 2rem;
    }

    .gallery .imagesContainer .nightArcade{
        width: 225px;
        height: 400px; 
    }

    .gallery .imagesContainer .nightArcade p{
        font-size: 2rem;
    }

    .gallery .imagesContainer .soccerTeam{
        width: 225px;
        height: 400px; 
    }

    .gallery .imagesContainer .soccerTeam p{
        font-size: 2rem;
    }

    .gallery .imagesContainer .theGrid{
        width: 225px;
        height: 400px; 
    }

    .gallery .imagesContainer .theGrid p{
        font-size: 2rem;
    }

    .gallery .imagesContainer .fromUpAbove{
        width: 225px;
        height: 400px; 
    }

    .gallery .imagesContainer .fromUpAbove p{
        font-size: 2rem;
    }

    .gallery .imagesContainer .pocketBoarelis{
        width: 225px;
        height: 400px; 
    }

    .gallery .imagesContainer .pocketBoarelis p{
        font-size: 2rem;
    }

    .gallery .imagesContainer .theCuriosity{
        width: 225px;
        height: 400px; 
    }

    .gallery .imagesContainer .theCuriosity p{
        font-size: 2rem;
    }

    .gallery .imagesContainer .makeItFisheye{
        width: 225px;
        height: 400px; 
    }

    .gallery .imagesContainer .makeItFisheye p{
        font-size: 2rem;
    }

    .footer .socialMedia{
        width: 1000px;
    }
    
    .footer .footerNav{
        width: 1000px;
    }
  
}

@media only screen and (max-width: 1100px){

    .header .navContainer{
        width: 700px;
    }

    .header .navContainer nav ul{
        gap: 30px;
    }

    .header .titleContainer{
        width: 700px;
    }

    .header .titleContainer h1{
        width: 600px;
        font-size: 5rem;
        color: var(--white);
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        padding: 3rem;
        border: 2px solid var(--white);
    }

    .about{
        width: 700px;
    }

    .about img{
        width: 500px;
    }
    
    .about div{
        bottom: 20px;
        right: 0px;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 10px;
        padding-bottom: 0px;
    }

    .gallery{
        width: 700px;
    }

    .gallery .imagesContainer{
        gap: 12px;
    }

    .footer .socialMedia{
        width: 700px;
    }
    
    .footer .footerNav{
        width: 700px;
    }

}

@media only screen and (max-width: 800px) {

    .header .navContainer{
        width: 500px;
    }

    .header .navContainer nav{
        display: none;
    }

    .header .navContainer .burgerButton{
        width: 40px;
        display: block;
    }

    .header .navContainer .burgerButton:hover{
        cursor: pointer;
    }

    .header .titleContainer{
        width: 500px;
    }

    .header .titleContainer h1{
        width: 400px;
        font-size: 3rem;
    }

    .about{
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .about img{
        width: 475px;
    }
    
    .about div{
        display: flex;
        justify-content: center;
        align-items: center;
        position:initial;
        margin-top: 25px;
    }

    .about div h2{
        font-size: 3rem;
        text-align: center;
    }

    .about div p{
        align-self: flex-start;
        text-align: center;
    }

    .gallery{
        width: 500px;
    }

    .gallery .galleryTitle{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .gallery .galleryTitle h2{
        margin-bottom: 25px;
        font-size: 3rem;
    }

    .gallery .galleryTitle span{
        align-self: center;
    }

    .gallery .imagesContainer{
        gap: 45px;
    }

    .footer .socialMedia{
        width: 500px;
    }
    
    .footer .footerNav{
        width: 500px;
    }

    .footer .footerNav nav{
        display: none;
    }
  
}

@media only screen and (max-width: 525px){

    .header{
        width: 100vw;
        background-image: url('../images/mobile/image-hero.jpg');
    }

    .header .navContainer{
        width: 350px;
    }

    .header .titleContainer h1{
        width: 250px;
        margin: auto;
        font-size: 2.5rem;
    }

    .about img{
        width: 350px;
    }

    .about div h2{
        font-size: 2.5rem
    }

    .about div p{
        width: 75%;
        align-self: center;
    }

    .gallery .imagesContainer{
        justify-content: center;
    }

    .gallery .imagesContainer .deepEarth{
        width: 400px;
        height: 150px;
        background-image: url("../images/mobile/image-deep-earth.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        transition: all 250ms;
    }
    
    .gallery .imagesContainer .deepEarth p{
        width: 25%;
        color: var(--white);
        /* margin: 0px 0px 50px 50px; */
        font-weight: 300;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.5rem;
    }
    
    .gallery .imagesContainer .nightArcade{
        width: 400px;
        height: 150px;
        background-image: url("../images/mobile/image-night-arcade.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        transition: all 250ms;
    }
    
    .gallery .imagesContainer .nightArcade p{
        width: 25%;
        color: var(--white);
        font-weight: 300;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.5rem;
    }
    
    .gallery .imagesContainer .soccerTeam{
        width: 400px;
        height: 150px;
        background-image: url("../images/mobile/image-soccer-team.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        transition: all 250ms;
    }
    
    .gallery .imagesContainer .soccerTeam p{
        width: 75%;
        color: var(--white);
        font-weight: 300;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.5rem;
    }
    
    .gallery .imagesContainer .theGrid{
        width: 400px;
        height: 150px;
        background-image: url("../images/mobile/image-grid.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        transition: all 250ms;
    }
    
    .gallery .imagesContainer .theGrid p{
        width: 25%;
        color: var(--white);
        font-weight: 300;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2.5rem;
    }
    
    .gallery .imagesContainer .fromUpAbove{
        width: 400px;
        height: 150px;
        background-image: url("../images/mobile/image-from-above.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        transition: all 250ms;
    }
    
    .gallery .imagesContainer .fromUpAbove p{
        width: 75%;
        color: var(--white);
        font-weight: 300;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.5rem;
    }
    
    .gallery .imagesContainer .pocketBoarelis{
        width: 400px;
        height: 150px;
        background-image: url("../images/mobile/image-pocket-borealis.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        transition: all 250ms;
    }
    
    .gallery .imagesContainer .pocketBoarelis p{
        width: 25%;
        color: var(--white);
        font-weight: 300;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.5rem;
    }
    
    .gallery .imagesContainer .theCuriosity{
        width: 400px;
        height: 150px;
        background-image: url("../images/mobile/image-curiosity.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        transition: all 250ms;
    }
    
    .gallery .imagesContainer .theCuriosity p{
        width: 25%;
        color: var(--white);
        font-weight: 300;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.5rem;
    }
    
    .gallery .imagesContainer .makeItFisheye{
        width: 400px;
        height: 150px;
        background-image: url("../images/mobile/image-fisheye.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        transition: all 250ms;
    }
    
    .gallery .imagesContainer .makeItFisheye p{
        width: 75%;
        color: var(--white);
        font-weight: 300;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.5rem;
    }

    .footer .socialMedia{
        width: 350px;
        flex-direction: column;
        gap: 40px;
    }
    
    .footer .footerNav{
        width: 350px;
        justify-content: center;
    }
}



